Flask==2.1.2
google-api-core==2.8.0
google-api-python-client==2.48.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.1
lxml==4.8.0
requests==2.27.1
requests-cache==0.9.4
SQLAlchemy==1.4.32